* {
    margin:0;
    background-color: none;
}

.hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("./nubelson-fernandes-iE71-TMrrkE-unsplash\ \(1\).jpg");
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color:white;
    text-shadow: black 0 0 15px ;
    font-size: 44px;
    text-align: center;
}

nav {
    width: 50%;
}

ul {
    width: 700px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li {
    font-family: 'oswald', sans-serif;
    color: white;
    font-size: 20px;
    cursor:pointer;
    transition: 1s;
}

li:hover {
    transform: scale(0.97);
    color: coral;
    text-shadow: #fff 4px 1px 50px;
}
.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke:white;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite ;
    box-shadow: white 1px 1px 5px;    

}

@keyframes arrow {
    0% {opacity: 0;}
    15% {stroke-width: 4px;}
    50% {opacity: 1;}
    52% {stroke-width: 1px;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes arrow {
    0% {opacity: 0;}
    15% {stroke-width: 4px;}
    50% {opacity: 1;}
    52% {stroke-width: 1px;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

.arrows path.a1 {
    animation-delay: -0.7s;
    -webkit-animation-delay: -0.7s;
}

.arrows path.a2 {
    animation-delay: -0.6s;
    -webkit-animation-delay: -0.6s;
}

.arrows path.a3 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.content-container {
    height: 100vh;
    background-color: #333;
    box-shadow: black 0px -4px 25px;
    display: flex;
    justify-content: space-around;
}

.profile-container {
    height: 100vh;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("./pexels-garrett-morrow-1337247.jpg") ;
    background-size: cover;
    background-position: center;
}

.profile-contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 9px;

}

.profile-image {
    width: 130px;
    height: auto;
    background-size: cover;
    border-radius: 100%;
    border: 3px lightsalmon solid;
    transition: linear 2s;
}

.profile-image:hover {
    border: 3px darkgoldenrod solid;
}

.text-name {
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
}

.text-profile {
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    width: 90%;
    text-align: center;

}

.profile-button {
    margin-top: 15px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: lightsalmon;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    transition: 1s;
    box-shadow: black -1px 2px 4px;
}

.profile-button:hover {
    transform: scale(1.1);
    box-shadow: black 1px 1px 3px;
}

.division01 {
    width: 100% ;
    height: 1px;
    border-top: 1px #333 double;
    border-bottom: 1px #333 double;
    border-radius: 35%;
    margin: 35px 0 35px 0;
    box-shadow: black 0px 3px 7px;
}

.icons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-item {
    width: 60px;
    height: auto;
    border-radius: 15px;
    
}

.division02 {
    width: 2px ;
    height: 90%;
    border-left: 1px #555 solid;
    border-right: 1px #555 solid;
    border-radius: 90%;
    /* box-shadow: white 0px 0px 2px; */
}

.container-sinopse {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-sinopse {
    height: 180px;
    padding: 0 15px;
    width: 55%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.3px;
    font-size: 16px;
    color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: #000 0px 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}



@media (max-width:945px) {

    .profile-card {
        width:50%;

    
    }
    

}
    @media (max-width:768px) {

        .hero-container {
            padding: 25;
        }

        .profile-card {
            width:60%;
        }

        
        nav {
            box-shadow: gray 0px 2px 5px;
            backdrop-filter: blur(15px);
            width: 50vw;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
        }
        
        ul {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            list-style: none;
        }
        
        li {
            width: 100%;
            font-family: 'oswald', sans-serif;
            color: white;
            font-size: 20px;
            cursor:pointer;
            transition: 1s;
            text-align: center;
        }
        
        li:hover {
            transform: scale(0.97);
            color: coral;
            text-shadow: #fff 4px 1px 50px;
        }
        
    }

    @media(max-width:480px) {


        .hero-container {
            padding: 25;
        }

        
        nav {
            width: 80vw;
        }
        
        .profile-card {
            width:90%;
        }
        


        .content-container {
            height: 100vh;
            background-color: #333;
            box-shadow: black 0px -4px 25px;
            display: flex;
        }
        
        .profile-container {
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        .profile-contents {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .profile-card {
            width:90%;
            height: auto;
            margin: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom: #555 1px solid;

        }
        
        .profile-image {
            width: 115px;
            transition: linear 0.5s;
        }
        
        .profile-image:hover {
            transform: scale(1.3);
            border: none;
            border-radius: 5px;
            box-shadow: black 1px 1px 5px;
        }
        
        .text-name {
            margin-top: 5px;
        }
        
        .text-profile {
            margin-top: 5px;
            width: 95%;
        }
        
        .profile-button {
            margin-top: 9px;
        }
        
        
        .division01 {
            width: 100% ;
            height: 1px;
            border-top: 1px #333 double;
            border-bottom: 1px #333 double;
            border-radius: 35%;
            margin: 15px 0;
            box-shadow: black 0px 3px 7px;
        }
        
        .icons-container {
            width: 100%;
        }
        
        .icon-item {
            width: 50px;
            border-radius: 10px;
            
        }
        
        .division02 {
            display: none;
        }
        
        .container-sinopse {
            margin-bottom: 15px;
            background-color: white;
            height: 50%;
            width: 80%;
            border-radius: 9px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .profile-sinopse {
            color: #333;
            width: 75%;
            text-align: justify;
            letter-spacing: 0;
        }
        

        
    }


    